<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link href="/static/layui/css/layui.css" rel="stylesheet">
    <!-- 还想要彩蛋？不可能 -->
</head>
<body>
    <h1>你好！</h1>
    <h1>我为什么会看到此页面？我们正在分析您的连接，请刷新。</h1>
</body>
</html>
















































































































































































































<!-- 你赢了 -->