<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="/static/layui/css/layui.css" rel="stylesheet">
</head>
<body>
<i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"><i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"><i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"><i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"><i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"></i><i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"><i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"></i><i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"><i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"></i>
<h1 style="font-size: 100px">管理员密码错误</h1>
<i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"><i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"><i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"><i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"></i><i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"><i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"><i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"></i><i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"><i class="layui-icon layui-icon-clear" style="font-size: 100px;color: #ff5722;"></i>
</body>
</html>