<html>
    <head>
        <title>Renter</title>
        <style>
.overlap-text {
    position: relative; 
    color: #333;
}
  .top-text {
    position: absolute;
    top: 5;
    left: 0;
}
    </style>
    </head>
    <body>
        <h1>Settings bak</h1>
        <h2><pre>
Setting backup
AdminUser : Liyao
            </pre>
            <div class="overlap-text">
                <span>Pass : Error - Fatal error</span>
                <span class="top-text">Pass : Error - Fatal error</span>
            </div>
            <pre>
Telnet : disabled
FTP : disabled
        </pre></h2>
        <h2 style="color:white">谜之炖菜</h2>
        </body>
</html>