<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dirt</title>
</head>
<body>
    <h1>任务</h1>
    <h1>各位好</h1>
    <h1>我们收到了一个特殊的小型“服务器”</h1>
    <h1>其内部的运作原理不明，不知名的协议，不明的芯片</h1>
    <h1>该服务器在通电后会自动开机，机箱上的OLED会显示一个地址</h1>
    <h1>但是这个地址访问后，却是一个……登陆界面？</h1>
    <h1>这绝非EnTh能比拟的</h1>
    <h1>绝对的安全性</h1>
    <h1>一切测试都以失败告终</h1>
    <h1>我们希望你们能够破解登录密码</h1>
    <h1>并探明内容</h1>
    <h1>我们已经将服务器接到我们的安全网络组</h1>
    <h2>附件:</h2>
    <h2><a href="/Login">地址</a></h1>
    <h1><a href="/">返回</a></h1>
</body>
</html>