<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Win!!!!</title>
</head>
<body>
<i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"><i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"><i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"><i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"><i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"></i><i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"><i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"></i><i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"><i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"></i>
<h1 style="font-size: 60px">The End 感谢游玩</h1>
<i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"><i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"><i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"><i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"></i><i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"><i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"><i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"></i><i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"><i class="layui-icon layui-icon-success" style="font-size: 100px;color: #16b777;"></i>
</body>
</html>